<ul>
  <% for post in @posts %>
    <li>
      <%= image_tag attachment_post_url(post) %>
      Thumbnail here<br />
      <%= post.filename %>
    </li>
  <% end %>
</ul>

<%= will_paginate @posts %>