@import "bootstrap-sprockets";
@import "bootstrap";

.centered {
  float: none;
  margin: 0 auto;
}

.center-block {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.login-form {
  padding: 8px 16px 8px 16px;
}